body {
    margin: 0px;
}
header {
    width: auto;
    height: fit-content;
    padding: 32px;
    background-color: #088395;
    animation: anim 5s infinite;
}
.nav {
    display: flex;
    list-style: none;
}
.nav li {
    margin: 0 auto;
}
.nav li a {
    text-decoration: none;
    color: #37B7C3;
}



.nav li a:hover{
    text-decoration: none;
    color: #EBF4F6;
}

@keyframes anim {
    from{ background-color: rebeccapurple
    }
    to {
        background-color: red;
    }
}